/* pages/chatbot-Success/chatbot-Success.wxss */
@import "../../lib/weui.scss";

.topView {
  height: 100%;
}
.start_btn {
  background-color: #E6721D !important;
  margin-top: 80px;
  border-radius: 3px;
}
view {
  background-color: white;
}
.content {
  background-color: white;
  flex-direction:column;
  height: 100%;
  width: 100%;
}

.account {
  text-align:center;
}
.fontColor {
  color: rgba(74,74,74,1);
}


.congratulation {
  padding-top:54px;
}

 .conText {
    font-size: 24px;
  }

image {
    border-radius: 100%;
}
.welcome {
    width: 100%;
    font-size: 24px;
    text-align: center;
}
.workplace {
  text-decoration: underline;
  color: rgb(222, 91, 24);
}

