@import "../../lib/weui.scss";

.topView {
  height: 100%;
  background-color: #ffffff;
}

.verify_word {
  padding: 100rpx 0 30rpx;
}

.dark_h1 {
  font-size: 22px;
  text-align: center;
  font-family: "PingFang SC";
  color: rgb(60, 60, 60);
}

.dark_h3 {
  font-size: 16px;
  text-align: center;
  margin: 20rpx 0;
  color: rgb(60, 60, 60);
}

.form_input {
  border-bottom: 1px solid rgb(172, 172, 172);
}

.form_input:last-child {
  margin-top: 10px;
}

.form_input_placeholder {
  color: rgb(196, 196, 196);
  font-size: 14px;
}

.verify_authenticate {
  margin-top: 80rpx;
}
.verify_authenticate button {
  border-radius: 3px;
  background-color: #E6721D !important;
}

.auth_tip {
  text-align: right;
}